.dashboard_box {
  width: 100%;
  display: flex;
}

.dashboard_left_panel {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* ADD SCROLL */
  /* overflow-y: hidden;
  scroll-behavior: smooth; */
  
  overflow-x: hidden;
  scroll-behavior: smooth;

  height: 100vh;

  position: fixed;
}

::-webkit-scrollbar {
  /* background: #eaeaea; */
  width: 6px;
  height: 6px;
  /* border-radius: 50px; */

}



::-webkit-scrollbar-track {
  background-color: transparent;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}


::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #18ABB1;
  border-radius: 10px;
}


.dashboard_upper_part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: 80%; */

  /* justify-content: space-between; */

  /* border: 2px solid red; */
}

.dashboard_left_panel_logo {
  margin: 10% 0 5% 0;
  width: 85%;
}

.dashboard_navbar_links_container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1em;
  padding-left: 3em;

  /* border: 2px solid red; */
}

/* ::-webkit-scrollbar {
  width: 20px;
} */

.dashboard_navbar_link {
  display: flex;
  margin-bottom: 4em;

  cursor: pointer;
}

.dashboard_navbar_link_logo {
  margin-right: 3em;
}

/* .dashboard_navbar_link: .dashboard_navbar_link_logo svg path {
  fill: #021a60;
} */

.dashboard_navbar_link_title {
  color: #18abb1;
  font-family: var(--Montserrat);
  font-size: 2.4rem;
  font-style: normal;
  /* font-weight: 500; */
  line-height: normal;
  text-decoration: none;
}

.dashboard_navbar_link_title_unselected {
  color: #cdcdcd;
  font-family: var(--Montserrat);
  font-size: 2rem;
  font-style: normal;
  /* font-weight: 500; */
  line-height: normal;
  text-decoration: none;
}

.dashboard_navbar_link_title_unselected:hover {
  color: #18abb1;
}

.dashboard_navbar_bottomlinks_container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 3em; */
  /* padding-left: 3em; */
  /* justify-content: flex-end; */

  padding: 5em 3em;

  /* border: 2px solid gray; */
}

.dashboard_navbar_logout_container {
  display: flex;
  cursor: pointer;
  color: #cdcdcd;
}

.dashboard_navbar_logout_container:hover {
  color: #18abb1;
}

.dashboard_navbar_logout_img {
  margin-right: 3em;
}

.dashboard_navbar_logout_container:hover .dashboard_navbar_logout_img svg path {
  fill: #18abb1;
}

.dashboard_navbar_logout_title {
  font-family: var(--Roboto);
  font-size: 2.4rem;
  font-style: normal;
  /* font-weight: 600; */
  line-height: normal;
}

/* .dashboard_navbar_logout_title:hover {
  color: #18abb1;
} */
