.product_details_header_cancel_btn {
  padding: 0.5em 1em;
  border-radius: 8px;

  border: 1px solid black;

  cursor: pointer;

  font-family: var(--Roboto);
  font-size: 1.4rem;
  font-style: normal;
  /* font-weight: 600; */
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;

  margin-right: 1em;

}
